// This should be imported by the main.js file
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$quicksand-font: 'Quicksand', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$open-sans-font: 'Open Sans', sans-serif;
$titles-color: #3D4F9F;
$titles-margin: 0px 0px 10px;


// Mixins
@mixin title-1 {
  font-family: $quicksand-font;
  font-size: 48px;
  font-weight: 300;
  color: $titles-color;
  margin: $titles-margin; 
  span {
    font-weight: 500;
  }
}

@mixin title-2 {
  @include title-1;
  font-size: 36px;
}

@mixin title-3 {
  font-family: $quicksand-font;
  font-size: 24px;
  font-weight: 500;
  color: $titles-color;
  margin: $titles-margin; 
}

@mixin title-4 {
  font-family: $roboto-font;
  font-size: 11px;
  font-weight: 500;
  color: $titles-color;
  margin: $titles-margin;
}

@mixin text {
  font-family: $roboto-font;
  color: #8D96BD;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  line-height: 2;
}

// Projects Styles
body {
  margin:0;
  padding:0;
  height:100%;
}

.container {
  min-height:100%;
  position:relative;
}

.body {
  padding-bottom: 290px;
}

.button {
  width: 113px;
  height: 43px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &__text {
    font-family: $quicksand-font;
    font-size: 13px;
    font-weight: 700;
  }
}

.footer {
  width: 100%;
  height: 287px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
  border-top: solid 1px #D8E3FE;
  &__content{
    width: 100%;
  }
  &__text {
    margin-left: 50px;
    font-family: $quicksand-font;
    font-size: 12px;
    font-weight: 500;
    color: #AEB8D0;
    margin-top: 30px;
  }
}

// Splitted code
@import './header.scss';
@import './menu.scss';
@import './hero.scss';
@import './customers.scss';
@import './manage.scss';
@import './about.scss';
@import './statistics.scss';
@import './blog.scss';