$titles-color: #3D4F9F;
$titles-margin: 0px 0px 10px;

.manage {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F8FF;
  &__content {
    width: 90%;
    height: 400px;
    h4 {
      @include title-4
    }
    h3 {
      @include title-2;
    }
    p {
      @include text;
      text-align: justify;
    }
    &__section {
      width: 50%;
      height: 400px;
      display: block;
      float: left;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__video-button{
      background-color: #4C85FF;
      color: #ffffff;
      font-family: $quicksand-font;
      font-size: 13px;
      font-weight: 700;
      float: left;
      i {
        font-size: 8px;
      }
    }
    &__features-button{
      border: solid #D1D1E4 1px;
      color: #ADB4D2;
      font-family: $quicksand-font;
      font-size: 13px;
      font-weight: 500;
      float: left;
      margin-left: 1px;
    }
  }
}